@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

@import "./mixins";
@import "../../node_modules/@base-cms/marko-web-theme-default/scss/theme";

$pswp__root-z-index: $theme-site-header-z-index + 1 !default;
@import "../../node_modules/@base-cms/marko-web-photoswipe/scss/main";
@import "../../node_modules/@base-cms/marko-web-social-sharing/scss/buttons";

// vue-modal styles
@import "./components/vue-modal";

@import "./components/ad-container";
@import "./components/body-wrapper";
@import "./components/btn";
@import "./components/card-deck-flow";
@import "./components/hero-flow";
@import "./components/inquiry-form";
@import "./components/marko-web-icon";
@import "./components/node-list";
@import "./components/node";
@import "./components/page-attribution";
@import "./components/page-contents";
@import "./components/page-dates";
@import "./components/page-rail";
@import "./components/page-wrapper";
@import "./components/site-footer";
@import "./components/site-menu";
@import "./components/site-navbar";
@import "./components/social-sharing";

.ldp {
  display: flex;
  justify-content: space-between;
}

.anchor {
  // offset link anchors to account for fixed header
  position: relative;
  top: -174px;
  display: block;
  visibility: hidden;
}

.twitter-timeline-rendered {
  box-shadow: $theme-box-shadow-sm;
}

.company-section-label {
  display: block;
  padding-bottom: .25rem;
  font-weight: 600;
  color: $gray-600;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid $light;
}

.cme-leaderboard {
  @media (max-width: 990px) {
    width: 800px;
  }
  @media (max-width: 850px) {
    width: 600px;
  }
  @media (max-width: 650px) {
    width: 300px;
  }
}

.exhibitors-banner {
  width: 600px;
  // @media (max-width: 990px) {
  //   width: 800px;
  // }
  // @media (max-width: 850px) {
  //   width: 600px;
  // }
  @media (max-width: 650px) {
    width: 300px;
  }
}

.qcor-chat-button {
  @media (max-width: 1100px) {
    width: 600px;
  }
  @media (max-width: 650px) {
    width: 300px;
  }
}

.qcor-early-career-button,
.qcor-plenary-button {
  margin-right: .25rem;
  margin-left: .25rem;
  @media (max-width: 1140px) {
    margin-top: 1rem;
  }
}

.exhibitor-disclaimer {
  margin: 0 map-get($spacers, 3);
  font-size: .75rem;
  font-weight: 900;
  text-align: center;
}

.hero-flow .node-list {
  &__node {
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.error-page {
  padding-bottom: 1.25rem;
  margin-top: 2rem;
  text-align: center;
  background-color: $white;

  &__title {
    color: $primary;
    @include theme-apply-fonts(
      $font-family: $theme-page-title-font-family,
      $font-size-sm: $theme-page-title-font-size-sm,
      $font-size: 5rem,
      $font-weight: 100,
      $line-height-sm: $theme-page-title-line-height-sm,
      $line-height: $theme-page-title-line-height,
    );
  }

  &__image,
  &__text {
    margin-right: auto;
    margin-left: auto;
  }

  &__image {
    max-width: 800px;
  }
  &__text {
    max-width: 600px;
  }
}
.site-navbar{
  &__brand {
    flex-grow: 1;
  }
}
.association {
  flex-shrink: 0;
  flex-grow: unset;
  margin: auto;

  .site-navbar {
    &__logo{
      max-height: 50px;
    }
  }
}

.logo {
  flex-grow: 1;
  text-align: center;
}
