.btn {
  &--early-career-blog {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    border-width: 2px;
    box-shadow: $theme-box-shadow-sm;

    &:hover {
      svg {
        fill: $white;
      }
    }
  }
}
