@import "../../../../node_modules/@parameter1/base-cms-marko-web-theme-default/scss/functions";

$black: #000;
$white: #fff;
$dark: #222328;
$light: #e9ecef;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6d6e71;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$body-color: $dark;
$block-spacer: 1.25rem;
$block-spacer-lg: 2.5rem;

$spacers: (
  block: $block-spacer,
  block-lg: $block-spacer-lg,
);

$primary: #c10e21;
$light: #e9ecef;

// Core marko
$marko-web-document-container-max-width: 1150px;
$marko-web-node-overlay-image-text-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
$marko-web-node-list-border-color: transparent;
$marko-web-page-image-margin: 1rem;

// Icons
$marko-web-icon-fill-dark: $dark;

// Settings
$enable-shadows: true;
$enable-rounded: false;
$body-bg: $white;
$border-radius: none;
$font-weight-bold: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

// Fonts (reset all to Montserrat & Roboto (from Heart.org)
$theme-font-family-sans-serif: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
$theme-font-family-serif: "Montserrat", "Helvetica Neue", "Arial", sans-serif;

$theme-heading-font-weight: $font-weight-bold;

$theme-responsive-max-lines: 4;

$theme-site-header-box-shadow: 1px 1px 8px rgba(0, 0, 0, .25);

$theme-site-navbar-logo-height: 90px;
$theme-site-navbar-logo-height-sm: 50px;

$theme-site-footer-logo-height: 90px;
$theme-site-footer-logo-height-sm: 90px;

$theme-site-navbar-secondary-bg-color: $white;
$theme-site-navbar-secondary-type: light;
$theme-site-navbar-dark-color: $white;
$theme-site-navbar-light-color: $dark;

$theme-site-navbar-menu-width: 300px;
$theme-site-navbar-menu-active-item-font-weight: $font-weight-normal;

$theme-site-footer-spacer: .75rem;
$theme-item-footer-color: $dark;
$theme-site-footer-copyright-color: $dark;
$theme-site-footer-primary-bg-color: $light;
$theme-site-footer-box-shadow: none;

$theme-site-navbar-secondary-link-active-decoration: none;
$theme-site-navbar-primary-link-active-decoration: none;

$theme-ad-box-shadow: none;
$theme-box-shadow-sm:  1px 1px 5px rgba(0, 0, 0, .15);

$theme-card-header-border: none;
$theme-card-header-font-weight: 600;

$theme-item-title-font-size: 18px;
$theme-item-title-font-size-sm: 17px;
$theme-item-title-font-weight: $font-weight-normal;

$theme-item-description-font-family:          $theme-font-family-sans-serif;
$theme-item-description-font-size-sm:         15px;
$theme-item-description-font-weight:          $font-weight-light;
$theme-item-description-color:                $gray-800;

$theme-page-title-font-size: 40px;
$theme-page-title-font-weight: $font-weight-bold;
$theme-page-title-line-height: get-line-height($theme-page-title-font-size, $theme-page-title-font-size * 1.2);

$theme-page-deck-font-weight:           $font-weight-light;
$theme-page-deck-font-size:             22px;
$theme-page-deck-font-size-sm:          20px;
$theme-page-deck-line-height:           get-line-height($theme-page-deck-font-size, $theme-page-deck-font-size * 1.5);
$theme-page-deck-line-height-sm:        get-line-height($theme-page-deck-font-size-sm, $theme-page-deck-font-size-sm * 1.5);

$theme-site-header-breakpoints: (
  hide-primary: 918px,
  hide-secondary: 580px,
  small-logo: 800px,
  small-text-primary: 1014px,
  small-text-secondary: 700px,
  small-primary-padding: 1140px,
);

$theme-hero-teaser-font-size: 18px;
$theme-hero-teaser-font-size-sm: 16px;
$theme-hero-teaser-font-weight: $font-weight-bold;
$theme-hero-teaser-line-height: get-line-height($theme-hero-teaser-font-size, 24px);
$theme-hero-teaser-line-height-sm: get-line-height($theme-hero-teaser-font-size-sm, 20px);

$theme-node-content-title-text-font-size: 16px;
$theme-node-content-title-text-font-size-sm: 16px;
$theme-node-content-title-text-font-weight: $font-weight-normal;
$theme-node-content-title-text-line-height: get-line-height($theme-node-content-title-text-font-size, 24px);
$theme-node-content-title-text-line-height-sm: get-line-height($theme-node-content-title-text-font-size-sm, 24px);

$theme-content-heading-large-margin-bottom:     .5rem;
$theme-content-heading-large-margin-bottom-sm:  .5rem;

$theme-content-heading-h4-margin-bottom:        .5rem;
$theme-content-heading-h4-margin-bottom-sm:     .5rem;

$theme-content-heading-h5-margin-bottom:        .5rem;
$theme-content-heading-h5-margin-bottom-sm:     .5rem;

$theme-content-heading-h6-margin-bottom:        .5rem;
$theme-content-heading-h6-margin-bottom-sm:     $theme-content-heading-h6-margin-bottom;

$theme-heading-large-font-size:       28px;
$theme-heading-large-font-size-sm:    24px;
$theme-heading-large-line-height:     get-line-height($theme-heading-large-font-size, $theme-heading-large-font-size * 1.2);
$theme-heading-large-line-height-sm:  get-line-height($theme-heading-large-font-size-sm, $theme-heading-large-font-size-sm * 1.2);

$theme-heading-h1-font-weight: 600;
$theme-heading-h2-font-weight: 600;
$theme-heading-h3-font-weight: 600;

$theme-heading-h4-font-size:          22px;
$theme-heading-h4-font-size-sm:       20px;
$theme-heading-h4-line-height:        get-line-height($theme-heading-h4-font-size, $theme-heading-h4-font-size * 1.2);
$theme-heading-h4-line-height-sm:     get-line-height($theme-heading-h4-font-size-sm, $theme-heading-h4-font-size-sm * 1.2);

$theme-heading-h5-font-size:          20px;
$theme-heading-h5-font-size-sm:       18px;
$theme-heading-h5-line-height:        get-line-height($theme-heading-h5-font-size, $theme-heading-h5-font-size * 1.2);
$theme-heading-h5-line-height-sm:     get-line-height($theme-heading-h5-font-size-sm, $theme-heading-h5-font-size-sm * 1.2);

$theme-heading-h6-font-size:          18px;
$theme-heading-h6-font-size-sm:       16px;
$theme-heading-h6-line-height:        get-line-height($theme-heading-h6-font-size, $theme-heading-h6-font-size * 1.2);

$theme-heading-h6-line-height-sm:     get-line-height($theme-heading-h6-font-size-sm, $theme-heading-h6-font-size-sm * 1.2);

$theme-page-body-font-size: 17px;

$theme-content-paragraph-margin-bottom:         1.5rem;
$theme-content-paragraph-margin-bottom-sm:      1.25rem;

$theme-content-paragraph-strong-font-weight: $font-weight-bold;

$theme-content-published-date-font-weight: 600;

$theme-content-attribution-prefix-margin-after: 0;
$theme-content-attribution-prefix-font-weight: $font-weight-normal;
$theme-content-attribution-prefix-spacer-content: "";
