@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

$black: #000;
$white: #fff;
$dark: #222328;
$light: #e9ecef;

$body-color: $dark;
$block-spacer: 1.25rem;

$primary: #c10e21;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef; // equivalent to default gray-200
$info: #6c757d; // equivalent to default gray-600

// Icons
$marko-web-icon-fill-dark: $dark;

// Settings
$enable-shadows: true;
$enable-rounded: false;
$body-bg: $white;
$border-radius: none;
$font-weight-bold: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

// Fonts (reset all to Montserrat & Roboto (from Heart.org)
$theme-font-family-sans-serif: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
$theme-font-family-serif: "Montserrat", "Helvetica Neue", "Arial", sans-serif;

$theme-site-header-box-shadow: none;

$theme-site-navbar-logo-height: 90px;
$theme-site-navbar-logo-height-sm: 70px;

$theme-site-footer-logo-height: 90px;
$theme-site-footer-logo-height-sm: 90px;

$theme-site-navbar-secondary-bg-color: $white;
$theme-site-navbar-secondary-type: light;
$theme-site-navbar-dark-color: $white;
$theme-site-navbar-light-color: $dark;

$theme-site-navbar-menu-width: 300px;
$theme-site-navbar-menu-active-item-font-weight: $font-weight-normal;

$theme-site-footer-spacer: .75rem;
$theme-item-footer-color: $dark;
$theme-site-footer-copyright-color: $dark;
$theme-site-footer-primary-bg-color: $light;
$theme-site-footer-box-shadow: none;

$theme-site-navbar-secondary-link-active-decoration: none;
$theme-site-navbar-primary-link-active-decoration: none;

$theme-ad-box-shadow: none;

$theme-site-header-breakpoints: (
  hide-primary: 0,
  hide-secondary: 310px,
  small-logo: 564px,
  small-text-primary: 564px,
  small-text-secondary: 0
);

@import "../../../../node_modules/@base-cms/marko-web-theme-default/scss/theme";
@import "../../../../node_modules/@base-cms/marko-web-social-sharing/scss/buttons";

// body {
//   letter-spacing: .1px;
// }


// .ldp {
//   display: flex;
//   align-items: center;
//   &__logo {
//     img {
//       margin: 0 1rem;
//     }
//   }
// }

// .content-section-header {
//   display: block;
//   color: $gray-600;
//   text-align: left;
//   text-transform: uppercase;
//   &--border {
//     padding-bottom: .25rem;
//     border-bottom: 1px solid rgba(0, 0, 0, .25);
//   }
//   &:not(:first-child) {
//     margin-top: 1.5rem;
//   }
// }

// .document-container {
//   padding-bottom: 3rem;
// }

.node {
  &__image-inner-wrapper {
    box-shadow: none;
  }
}

.site-navbar {
  $self: &;
  $top-nav-bottom-margin: 1rem;

  &__logo {
    filter: none;
  }

  &__items {
    &--primary {
      width: auto;
    }

    &--secondary {
      margin-top: auto;
      margin-bottom: $top-nav-bottom-margin;
      margin-left: auto;
    }

    &--tertiary {
      padding-right: $theme-site-navbar-padding-x;
      margin-top: auto;
      margin-bottom: $top-nav-bottom-margin;
    }

    &--no-left-margin {
      margin-left: 0;
    }

    #{ $self } {
      &__link {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  &__item {
    &--search-icon {
      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  &__toggler {
    margin-bottom: $top-nav-bottom-margin;
  }

  &--primary {
    #{ $self } {
      &__item {
        padding: 8px 20px;

        &:first-child {
          padding-left: $theme-site-navbar-brand-margin-x;
        }
        &:last-child {
          padding-right: $theme-site-navbar-brand-margin-x;
        }
      }
    }
  }
}

.site-menu {
  $self: &;
  &__header {
    font-weight: $font-weight-bold;
    background-color: $light;
    border-bottom: none;
  }

  &__section {
    &--social-icons {
      border-top: 1px solid $light;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__item {
    border-color: $light;
    &:last-child {
      border-bottom: none;
    }
  }

  &--right {
    right: 0;
    transform: translateX(#{$theme-site-navbar-menu-width});
    &#{ $self }--open {
      transform: translateX(0);
    }
  }
}

.site-footer {
  $self: &;
  &__copyright {
    text-align: left;
  }
  &__logo {
    margin-bottom: map-get($spacers, block);
    filter: none;
  }
  &__wrapper {
    @media (min-width: $marko-web-document-container-max-width) {
      max-width: $marko-web-document-container-max-width;
      margin: 0 auto;
    }
  }
  &__container {
    &--secondary {
      background-color: $light;
    }
    &--primary {
      #{ $self }__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
  &__social-icons {
    justify-content: flex-end;
    margin: auto 0;
  }

  @include media-breakpoint-down(sm) {
    &__social-icons {
      .marko-web-icon--xl svg {
        width: 1.75em;
        height: 1.75rem;
      }
    }
  }
}
