@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "../../../../node_modules/@base-cms/marko-web-theme-default/scss/functions";

$black: #000;
$white: #fff;
$dark: #222328;
$light: #e9ecef;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6d6e71;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$body-color: $dark;
$block-spacer: 1.25rem;
$block-spacer-lg: 2.5rem;

$spacers: (
  block: $block-spacer,
  block-lg: $block-spacer-lg,
);

$primary: #c10e21;
$light: #e9ecef;

// Core marko
$marko-web-document-container-max-width: 1150px;
$marko-web-node-overlay-image-text-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
$marko-web-node-list-border-color: transparent;

// Icons
$marko-web-icon-fill-dark: $dark;

// Settings
$enable-shadows: true;
$enable-rounded: false;
$body-bg: $white;
$border-radius: none;
$font-weight-bold: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

// Fonts (reset all to Montserrat & Roboto (from Heart.org)
$theme-font-family-sans-serif: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
$theme-font-family-serif: "Montserrat", "Helvetica Neue", "Arial", sans-serif;

$theme-heading-font-weight: $font-weight-bold;

$theme-responsive-max-lines: 4;

$theme-site-header-box-shadow: 1px 1px 8px rgba(0, 0, 0, .25);

$theme-site-navbar-logo-height: 90px;
$theme-site-navbar-logo-height-sm: 50px;

$theme-site-footer-logo-height: 90px;
$theme-site-footer-logo-height-sm: 90px;

$theme-site-navbar-secondary-bg-color: $white;
$theme-site-navbar-secondary-type: light;
$theme-site-navbar-dark-color: $white;
$theme-site-navbar-light-color: $dark;

$theme-site-navbar-menu-width: 300px;
$theme-site-navbar-menu-active-item-font-weight: $font-weight-normal;

$theme-site-footer-spacer: .75rem;
$theme-item-footer-color: $dark;
$theme-site-footer-copyright-color: $dark;
$theme-site-footer-primary-bg-color: $light;
$theme-site-footer-box-shadow: none;

$theme-site-navbar-secondary-link-active-decoration: none;
$theme-site-navbar-primary-link-active-decoration: none;

$theme-ad-box-shadow: none;
$theme-box-shadow-sm:  1px 1px 5px rgba(0, 0, 0, .15);

$theme-card-header-border: none;
$theme-card-header-font-weight: 600;

$theme-item-title-font-size: 18px;
$theme-item-title-font-size-sm: 17px;
$theme-item-title-font-weight: $font-weight-normal;

$theme-item-description-font-family:          $theme-font-family-sans-serif;
$theme-item-description-font-size-sm:         14px;
$theme-item-description-font-size:            15px;
$theme-item-description-font-weight:          $font-weight-light;
$theme-item-description-color:                $gray-800;

$theme-page-title-font-size: 40px;
$theme-page-title-font-weight: $font-weight-bold;
$theme-page-title-line-height: get-line-height($theme-page-title-font-size, $theme-page-title-font-size * 1.2);

$theme-page-deck-font-weight:           $font-weight-light;
$theme-page-deck-font-size:             22px;
$theme-page-deck-font-size-sm:          20px;
$theme-page-deck-line-height:           get-line-height($theme-page-deck-font-size, $theme-page-deck-font-size * 1.5);
$theme-page-deck-line-height-sm:        get-line-height($theme-page-deck-font-size-sm, $theme-page-deck-font-size-sm * 1.5);

$theme-site-header-breakpoints: (
  hide-primary: 569px,
  hide-secondary: 0,
  small-logo: 500px,
  small-text-primary: 634px,
  small-text-secondary: 0,
);

$theme-hero-teaser-font-size: 18px;
$theme-hero-teaser-font-size-sm: 16px;
$theme-hero-teaser-font-weight: $font-weight-bold;
$theme-hero-teaser-line-height: get-line-height($theme-hero-teaser-font-size, 24px);
$theme-hero-teaser-line-height-sm: get-line-height($theme-hero-teaser-font-size-sm, 20px);

$theme-node-content-title-text-font-size: 16px;
$theme-node-content-title-text-font-size-sm: 16px;
$theme-node-content-title-text-font-weight: $font-weight-normal;
$theme-node-content-title-text-line-height: get-line-height($theme-node-content-title-text-font-size, 24px);
$theme-node-content-title-text-line-height-sm: get-line-height($theme-node-content-title-text-font-size-sm, 24px);

$theme-content-heading-large-margin-bottom:     .5rem;
$theme-content-heading-large-margin-bottom-sm:  .5rem;

$theme-content-heading-h4-margin-bottom:        .5rem;
$theme-content-heading-h4-margin-bottom-sm:     .5rem;

$theme-content-heading-h5-margin-bottom:        .5rem;
$theme-content-heading-h5-margin-bottom-sm:     .5rem;

$theme-content-heading-h6-margin-bottom:        .5rem;
$theme-content-heading-h6-margin-bottom-sm:     $theme-content-heading-h6-margin-bottom;

$theme-heading-large-font-size:       28px;
$theme-heading-large-font-size-sm:    24px;
$theme-heading-large-line-height:     get-line-height($theme-heading-large-font-size, $theme-heading-large-font-size * 1.2);
$theme-heading-large-line-height-sm:  get-line-height($theme-heading-large-font-size-sm, $theme-heading-large-font-size-sm * 1.2);

$theme-heading-h1-font-weight: 600;
$theme-heading-h2-font-weight: 600;
$theme-heading-h3-font-weight: 600;

$theme-heading-h4-font-size:          22px;
$theme-heading-h4-font-size-sm:       20px;
$theme-heading-h4-line-height:        get-line-height($theme-heading-h4-font-size, $theme-heading-h4-font-size * 1.2);
$theme-heading-h4-line-height-sm:     get-line-height($theme-heading-h4-font-size-sm, $theme-heading-h4-font-size-sm * 1.2);

$theme-heading-h5-font-size:          20px;
$theme-heading-h5-font-size-sm:       18px;
$theme-heading-h5-line-height:        get-line-height($theme-heading-h5-font-size, $theme-heading-h5-font-size * 1.2);
$theme-heading-h5-line-height-sm:     get-line-height($theme-heading-h5-font-size-sm, $theme-heading-h5-font-size-sm * 1.2);

$theme-heading-h6-font-size:          18px;
$theme-heading-h6-font-size-sm:       16px;
$theme-heading-h6-line-height:        get-line-height($theme-heading-h6-font-size, $theme-heading-h6-font-size * 1.2);

$theme-heading-h6-line-height-sm:     get-line-height($theme-heading-h6-font-size-sm, $theme-heading-h6-font-size-sm * 1.2);

$theme-page-body-font-size: 17px;

$theme-content-paragraph-margin-bottom:         1.5rem;
$theme-content-paragraph-margin-bottom-sm:      1.25rem;

$theme-content-paragraph-strong-font-weight: $font-weight-bold;

$theme-content-published-date-font-weight: 600;

$theme-content-attribution-prefix-font-weight: $font-weight-normal;
$theme-content-attribution-prefix-spacer-content: "";

@import "../../../../node_modules/@base-cms/marko-web-theme-default/scss/theme";

$pswp__root-z-index: $theme-site-header-z-index + 1 !default;
@import "../../../../node_modules/@base-cms/marko-web-photoswipe/scss/main";

@import "../../../../node_modules/@base-cms/marko-web-social-sharing/scss/buttons";

// @todo vet this
.ldp {
  display: flex;
  justify-content: space-between;
}

// @todo vet this
.content-section-header {
  display: block;
  color: $gray-600;
  text-align: left;
  text-transform: uppercase;
  &--border {
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
  }
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.page-wrapper {
  box-shadow: none;

  &__section {
    &--content-header {
      max-width: 900px;
    }
  }

  &__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__deck {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__above-title {
    margin-bottom: 1.875rem;
  }

  &--shadow {
    box-shadow: $theme-box-shadow-sm;
  }
}

.page-contents {
  &__content-header {
    margin-bottom: 1.875rem;
  }
}

.page-attribution {
  a {
    color: $dark;
  }
}

.hero-flow {
  &__hero,
  &__list {
    margin-bottom: $block-spacer-lg;
  }
}

.page-rail {
  > * {
    margin-bottom: $block-spacer-lg;
  }
}

.marko-web-icon {
  &--primary {
    svg {
      fill: $primary;
    }
  }
}

.social-sharing {
  margin-bottom: 1rem;
}

.btn {
  &--early-career-blog {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    border-width: 2px;
    box-shadow: $theme-box-shadow-sm;

    &:hover {
      svg {
        fill: $white;
      }
    }
  }
}

.page-dates {
  font-weight: 600;

  &__content-type {
    margin-right: .25rem;
  }

  &__content-published {
    &::before {
      content: "Published: ";
    }
  }
  &__content-start-date {
    &::before {
      content: "Starts: ";
    }
  }
  &__content-end-date {
    &::before {
      content: "Ends: ";
    }
  }
}

.ad-container {
  &--max-width-970 {
    max-width: 970px;
  }
  &--center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  &--mb-block-lg {
    margin-bottom: $block-spacer-lg;
  }
}

.card-deck-flow {
  $self: &;
  &--featured-exhibitors {
    #{ $self } {
      &__node {
        margin-bottom: 0;
      }
    }
  }
}

// stylelint-disable
.node {
  $self: &;

  &__text {
    &--content-action {
      margin-bottom: .25rem;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &--content-title {
      @include theme-apply-fonts(
        $font-size-sm: $theme-node-content-title-text-font-size-sm,
        $font-size: $theme-node-content-title-text-font-size,
        $font-weight: $theme-node-content-title-text-font-weight,
        $line-height-sm: $theme-node-content-title-text-line-height-sm,
        $line-height: $theme-node-content-title-text-line-height
      );
      a {
        @include theme-max-lines(
          $font-size: $theme-node-content-title-text-font-size,
          $font-size-sm: $theme-node-content-title-text-font-size-sm,
          $line-height: $theme-node-content-title-text-line-height,
          $line-height-sm: $theme-node-content-title-text-line-height-sm,
          $num: 4
        );
        color: $dark;
      }
    }

    &--content-title-primary {
      font-weight: 600;
      a {
        color: $primary;
      }
    }
  }

  &__footer {
    color: $gray-600;
  }

  &__image-inner-wrapper {
    box-shadow: none;
  }

  &--video-content-type {
    #{ $self } {
      &__image-inner-wrapper {
        &::after {
          top: 45%;
          width: 75px;
          height: 75px;
          @include media-breakpoint-down($theme-responsive-text-breakpoint) {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  &--hero {
    #{ $self } {
      &__header {
        padding: $marko-web-node-padding;
        margin-bottom: 0;
        background-color: $primary;

        a {
          font-size: 19px;
          font-weight: 700;
          color: #fff;
          text-transform: uppercase;

          @include media-breakpoint-down($theme-responsive-text-breakpoint) {
            font-size: 17px;
          }
        }
      }
      &__body {
        &--overlay {
          padding: 1.25rem;
          background-color: rgba(0, 0, 0, .65);
          @include media-breakpoint-down($theme-responsive-text-breakpoint) {
            padding: $marko-web-node-padding;
          }

          #{ $self } {
            &__text {
              &--teaser {
                @include theme-apply-fonts(
                  $font-size-sm: $theme-hero-teaser-font-size-sm,
                  $font-size: $theme-hero-teaser-font-size,
                  $font-weight: $theme-hero-teaser-font-weight,
                  $line-height-sm: $theme-hero-teaser-line-height-sm,
                  $line-height: $theme-hero-teaser-line-height
                );

                font-weight: $font-weight-bold;
                font-size: 18px;
                a {
                  @include theme-max-lines(
                    $font-size: $theme-hero-teaser-font-size,
                    $font-size-sm: $theme-hero-teaser-font-size-sm,
                    $line-height: $theme-hero-teaser-line-height,
                    $line-height-sm: $theme-hero-teaser-line-height-sm,
                    $num: 2
                  );
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  &--no-shadow {
    box-shadow: none;
  }
}

.site-navbar {
  $self: &;
  $top-nav-bottom-margin: 1rem;

  &__logo {
    filter: none;
  }

  &__items {
    &--primary {
      width: auto;
    }

    &--secondary {
      margin-top: auto;
      margin-bottom: $top-nav-bottom-margin;
      margin-left: auto;
    }

    &--tertiary {
      padding-right: $theme-site-navbar-padding-x;
      margin-top: auto;
      margin-bottom: $top-nav-bottom-margin;
    }

    &--no-left-margin {
      margin-left: 0;
    }

    #{ $self } {
      &__link {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  &__item {
    &--search-icon {
      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  &__toggler {
    margin-bottom: $top-nav-bottom-margin;
  }

  &--primary {
    #{ $self } {
      &__item {
        padding: 8px 14px;

        &:first-child {
          padding-left: $theme-site-navbar-brand-margin-x;
        }
        &:last-child {
          padding-right: $theme-site-navbar-brand-margin-x;
        }
      }
    }
  }
}

.site-menu {
  $self: &;
  &__header {
    font-weight: $font-weight-bold;
    background-color: $light;
    border-bottom: none;
  }

  &__section {
    &--social-icons {
      border-top: 1px solid $light;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__item {
    border-color: $light;
    &:last-child {
      border-bottom: none;
    }
  }

  &--right {
    right: 0;
    transform: translateX(#{$theme-site-navbar-menu-width});
    &#{ $self }--open {
      transform: translateX(0);
    }
  }
}

.site-footer {
  $self: &;
  &__copyright {
    text-align: left;
  }
  &__logo {
    margin-bottom: map-get($spacers, block);
    filter: none;
  }
  &__wrapper {
    @media (min-width: $marko-web-document-container-max-width) {
      max-width: $marko-web-document-container-max-width;
      margin: 0 auto;
    }
  }
  &__container {
    &--secondary {
      background-color: $light;
    }
    &--primary {
      #{ $self }__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
  &__social-icons {
    justify-content: flex-end;
    margin: auto 0;
  }

  @include media-breakpoint-down(sm) {
    &__social-icons {
      .marko-web-icon--xl svg {
        width: 1.75em;
        height: 1.75rem;
      }
    }
  }
}
