@import url("https://fonts.googleapis.com/css?family=Lato+Sans:300,400,500,600,700|Source+Serif+Pro:400,600,700&display=swap");

$theme-font-family-sans-serif: "Lato", sans-serif;
$theme-font-family-serif: "Source Serif Pro", serif;

$primary: #51659e; //#3155fc;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;
$dark-bg-color: #00337b;
$light-bg-color: #51659e;
$background: $dark-bg-color;
$link-color: $light-bg-color;

$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: $light-bg-color;
$theme-site-navbar-primary-font-size: 14px;

$theme-site-navbar-secondary-font-size: 12px;
$theme-site-navbar-secondary-color: $light-bg-color;
$theme-site-navbar-secondary-link-color: $light-bg-color;
$theme-site-navbar-secondary-link-hover-color: $light-bg-color;

$theme-site-footer-primary-bg-color: $light-bg-color;
$theme-site-footer-secondary-bg-color: #fff;

$theme-load-more-button-background-color: $dark-bg-color;
$theme-load-more-button-border-color: $dark-bg-color;

$leaders-primary-color: #51659e;
$leaders-primary-color-light: $light-bg-color;
$leaders-accent-color: $dark-bg-color;

$leaders-header-bg-color: #51659e;

$theme-site-header-breakpoints: (
  hide-secondary: 790px,
  small-text-secondary: 875px
);

@import "../../node_modules/@ascend-media/package-common/scss/common";
@import "../../node_modules/@ascend-media/package-minexpo/scss/index";

.load-more-trigger > button:hover {
  background-color: $light-bg-color;
  border-color: $light-bg-color;
}

.pagination-controls {
  display: flex;
  align-items: center;
  padding-top: map-get($spacers, block);

  &__prev {
    margin-right: map-get($spacers, block);
  }

  &__next {
    margin-left: map-get($spacers, block);
  }

  &__pages {
    line-height: 1;
  }
}

.directory-facets {
  &__description {
    padding: 10px;
    margin: 10px 0;
    border-bottom: solid $gray-100;
  }
}

.hero-flow{
  &__list {
    .directory-facets {
      height: 100%;
    }
  }
}

.leaders-section{
  &--with-parent{
    .leaders-section{
      &__title {
        display: none;
      }
    }
  }
}
