@mixin event-day-label() {
  display: inline-block;
  padding: 6px;
  margin-bottom: .5rem;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: $white;
  text-transform: uppercase;
  letter-spacing: .4px;
  background-color: #6d6e71;
}
