@import "../../node_modules/@ascend-media/package-bulletin/scss/variables";

$primary-color: #be3426;
$theme-site-navbar-primary-bg-color: #694d6b;
$theme-site-navbar-primary-font-weight: 600;

@import "../../node_modules/@ascend-media/package-bulletin/scss/theme";

.body-wrapper {
  display: block;
  flex-direction: column;
  height: auto;
}
.page {
  &--magazine-issue {
    .page-wrapper {
      &__title {
        font-size: 36px;
        color: #be3426;
        text-align: center;
      }
    }
  }
}
.content-page-sponsored-header {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}
