import { getAsArray, getAsObject } from "@base-cms/object-path";
import GAM from "../../../config/gam";

$ const {
  adIndex,
  adName,
  aliases,
  nativeX,
} = input;
$ const nodes = getAsArray(input, "nodes");

<if(nodes.length)>
  <website-content-card-deck-flow
    nodes=nodes
    aliases=aliases
    native-x=nativeX
    ad-index=adIndex
    ad-name=adName
  />
</if>
