<marko-web-link
  href="https://earlycareervoice.professional.heart.org/blog"
  target="_blank"
  class="btn btn-outline-primary btn-block btn--early-career-blog"
>
  Early Career Blogs
  <marko-web-icon name="link-external" modifiers=["lg", "primary"] />
</marko-web-link>
