@import "../../node_modules/@ascend-media/package-directory/scss/index";
// @import "./components/node";
.inquiry-form {
  $self: &;
  padding: $block-spacer;
  margin-top: 0;
  margin-bottom: $block-spacer;
  background-color: #f8f9fa;
  border-top: 0;

  &__header {
    margin-bottom: .5rem;
    font-size: 20px;
  }

  &__description {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  &__content-name {
    font-weight: 600;
  }

  .btn {
    font-size: 1rem;
    font-weight: 600;
  }

  label {
    margin-bottom: 0;
  }

  &--block {
    padding: 0;
    margin-bottom: 0;
    background-color: $white;
  }
}

.directory-facets {
  > .directory-facets {
    &__list {
      max-height: 600px;
    }
  }
}

.pagination-page-number {
  &__input {
    width: 3em;
  }
}

.node {
  &__image-wrapper {
    a {
      box-shadow: none;
    }
  }
}

.site-navbar {
  &__items {
    &--secondary {
      flex-grow: 1;
    }
  }
}

.site-menu {
  $self: &;
  top: 120px;
  &--right {
    right: 0;
    transform: translateX(#{$theme-site-navbar-menu-width});
    &#{ $self }--open {
      transform: translateX(0);
    }
  }
}
