@import "../../node_modules/@ascend-media/package-directory/scss/index";
// @import "./components/node";
.inquiry-form {
  $self: &;
  padding: $block-spacer;
  margin-top: 0;
  margin-bottom: $block-spacer;
  background-color: #f8f9fa;
  border-top: 0;

  &__header {
    margin-bottom: .5rem;
    font-size: 20px;
  }

  &__description {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  &__content-name {
    font-weight: 600;
  }

  .btn {
    font-size: 1rem;
    font-weight: 600;
  }

  label {
    margin-bottom: 0;
  }

  &--block {
    padding: 0;
    margin-bottom: 0;
    background-color: $white;
  }
}

.directory-facets {
  > .directory-facets {
    &__list {
      max-height: 600px;
    }
  }
}

.pagination-page-number {
  &__input {
    width: 3em;
  }
}

.node {
  &__image-wrapper {
    a {
      box-shadow: none;
    }
  }
}

.site-navbar {
  $self: &;
  &__items {
    &--secondary {
      flex-direction: row-reverse;
      flex-grow: 1;
      padding-right: map-get($spacers, block);;
      margin-bottom: auto;
      #{ $self }__item {
        text-transform: initial;
      }
    }
  }
}

.site-menu {
  $self: &;
  top: 120px;
  &--right {
    right: 0;
    transform: translateX(#{$theme-site-navbar-menu-width});
    &#{ $self }--open {
      transform: translateX(0);
    }
  }
}
.content-type-facets,
.directory-country-facets {
  &__list {
    display: none;
    background: #fff;
    &--open {
      display: flex;
    }
  }
}

.directory-facets--with-toggle {
  > .directory-facets{
    &__list {
      display: none;
      &--open {
        display: flex;
        max-height: 500px;
      }
    }
  }
}

.directory-filters,
.legend {
  background-color: #f1f1f1;
  &__title {
    @include theme-card-header();
    @include border-top-radius($theme-item-list-border-radius);
    padding: $marko-web-node-list-padding;
    margin-bottom: 0;
    line-height: $line-height-base;
  }
}
.content-type-facets,
.directory-country-facets,
.directory-facets {
  $self: &;
  margin-right: map-get($spacers, block);
  margin-left: map-get($spacers, block);
  &__list {
    padding:0;
  }
  &__title {
    color: $primary;
    background-color: $white;
    #{ $self } {
      &__toggle {
        top: initial;
        right: map-get($spacers, block) * 2;
        .marko-web-icon svg {
          fill: $primary;
        }
      }
    }
  }
  &__item {
    padding: 0;
    border-bottom: 3px solid #f1f1f1;
    &:last-of-type {
      border-bottom: none;
    }
    #{ $self } {
      &__link {
        display: block;
        padding: map-get($spacers, block) / 2;
        padding-right: map-get($spacers, block) * 2;
        padding-left: map-get($spacers, block);
      }
    }
    &--open > {
      #{ $self } {
        &__link {
          border-bottom: 3px solid #f1f1f1;
        }
      }
    }
  }
  // &__item:nth-child(odd) {
  //   background-color: $white;
  //   #{ $self }__item {
  //     background-color: #fff;
  //   }
  //   #{ $self }__item:nth-child(odd) {
  //     background-color: #EAFEFF;
  //   }
  // }
}
// will be deleted once live.
.callout2016 {
  flex-grow: 100;
  color: #a02413;
  h2 {
    font-size: 1.25rem;
    @media (max-width: 600px) {
      font-size: .75rem;
    }
  }
}

.legend {
  // display: flex;
  font-size: 11px;
  &__body {
    padding-right: map-get($spacers, block);
    padding-left: map-get($spacers, block);
  }
  &__items {
    display: flex;
    justify-content: space-around;
    padding-right: map-get($spacers, block) / 2;
    padding-bottom: map-get($spacers, block) / 2;
    padding-left: map-get($spacers, block) / 2;
  }
  // &__item {
  //   &::before {
  //     margin-left: .5em;
  //     font-weight: initial;
  //     content: "| ";
  //   }
  // }
  &__title {
    margin-bottom: map-get($spacers, block) / 2;
  }
  &__field-name {
    font-weight: $font-weight-bold;
  }
  &__item:first-of-type {
    &::before {
      content: initial;
    }
  }
  &__key {
    font-weight: $font-weight-bold;
  }
}
