.ad-container {
  &--max-width-970 {
    max-width: 970px;
  }
  &--max-width-300 {
    max-width: 300px;
  }
  &--center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  &--mb-block-lg {
    margin-bottom: $block-spacer-lg;
  }
  &--sticky-top {
    position: sticky;
    top: calc(150px + #{$block-spacer});
  }
  &--top-of-page {
    margin-bottom: $block-spacer-lg;
  }
  &--paid {
    > *:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: .75rem;

      &::before {
        font-size: .75rem;
        color: $gray-600;
        text-transform: uppercase;
        content: "Paid Advertisement";
      }
    }
  }
}
