.ad-container {
  text-align: left;

  &--center {
    text-align: center;
  }

  &--sticky-top {
    position: sticky;
    top: calc(95px + #{$block-spacer});
  }

  &--max-width-300 {
    max-width: 300px;
  }

  &--max-width-970 {
    max-width: 970px;
  }

  &--in-content {
    margin-right: auto;
    margin-bottom: 1.25rem;
    margin-left: auto;
  }

  &--margin-auto-x {
    margin-right: auto;
    margin-left: auto;
  }

  &--margin-auto-y {
    margin-top: auto;
    margin-bottom: auto;
  }

  &--margin-auto-x-md {
    @include media-breakpoint-down(md) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &--bottom-of-page {
    margin-top: $theme-ad-margin;
    margin-bottom: $theme-ad-margin;
  }

  &__wrapper {
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;

    &::before {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 5px;
      left: auto;
      font-size: 8px;
      line-height: 1;
      color: #a3a3a3;
      text-align: right;
      text-transform: uppercase;
      content: "Advertisement";
    }
  }
}
