.node-list {
  $self: &;
  &__header {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 22px;
    line-height: 1.3;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 4px;
      content: "";
      background: #333;
    }

    &--padding-y {
      padding-top: $block-spacer;
      padding-bottom: $block-spacer;
    }

    &--website-section-title {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 26px;
      font-weight: $font-weight-bold;
      line-height: 1.3;
    }

    @each $section, $color in $website-section-colors {
      &--#{$section} {
        &::before {
          background: $color;
        }
      }
    }
  }

  &__nodes {
    padding-top: $block-spacer;
    padding-bottom: $block-spacer;
  }

  &--padding-large {
    #{ $self } {
      &__node {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  &--infinite-scroll {
    #{ $self } {
      &__node:first-child {
        @include marko-web-node-list-border(border-top);
      }
    }
  }

  &--flush-y {
    #{ $self } {
      &__header:first-child {
        padding-top: $block-spacer;
      }

      &__node:first-child {
        @include media-breakpoint-down(md) {
          padding-top: $block-spacer;
          @include marko-web-node-list-border(border-top);
        }
      }
    }
  }

  &--rows {
    #{ $self } {
      &__header {
        padding: 0;
        margin-bottom: .75rem;
      }

      &__nodes {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 0;
        margin-right: -.25rem;
        margin-left: -.25rem;
      }

      &__node {
        width: calc(50% - .5rem);
        margin-right: .25rem;
        margin-bottom: .5rem;
        margin-left: .25rem;

        &:first-child {
          padding-top: $marko-web-node-list-padding;
        }

        &:last-child {
          padding-bottom: $marko-web-node-list-padding;
          @include marko-web-node-list-border($property: border-bottom);
        }
      }

      @include media-breakpoint-down(sm) {
        &__nodes {
          flex-direction: column;
        }
        &__node {
          width: 100%;
        }
      }
    }
  }

  &--related-content {
    #{ $self } {
      &__node {
        background-color: $theme-related-content-bg-color;
        border-color: $theme-related-content-border-color;
        &:last-child {
          @include marko-web-node-list-border($property: border-bottom, $color: $theme-related-content-border-color);
        }
      }
    }
  }
}
