.site-navbar {
  $self: &;
  &__items {
    text-transform: none;
  }

  &--primary,
  &--secondary {
    #{ $self } {
      &__link {
        &--active {
          font-weight: 700;
        }
      }
    }
  }

  &--primary {
    @each $section, $color in $website-section-colors {
      #{ $self } {
        &__link--active[href*="#{$section}"] {
          color: $color;
        }
      }
    }
  }
}
