.site-menu {
  $self: &;
  &__header {
    font-weight: $font-weight-bold;
    background-color: $light;
    border-bottom: none;
  }

  &__section {
    &--social-icons {
      border-top: 1px solid $light;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__item {
    border-color: $light;
    &:last-child {
      border-bottom: none;
    }
  }

  &--right {
    right: 0;
    transform: translateX(#{$theme-site-navbar-menu-width});
    &#{ $self }--open {
      transform: translateX(0);
    }
  }
}
