.body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  &[data-path^="/vascular"] {
    display: block;
    height: auto;

    @media (min-width: map-get($theme-site-header-breakpoints, small-text-primary)) {
      background: url("https://base.imgix.net/files/base/ascend/hearthub/image/static/GettyImages-1133692578_Home.jpg?w=1850") no-repeat 50% 150px;

      .page {
        background-color: transparent;
      }
    }
  }
}
