.node-list {
  $self: &;
  &--sticky-top {
    @media (min-height: 710px) {
      position: sticky;

      $sorted: sort-map-by-values($theme-site-header-breakpoints, desc);
      $highest: nth($sorted, 1);
      top: calculate-navbar-height-for($highest, 20px);

      @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
        @media (max-width: $width) {
          top: calculate-navbar-height-for($breakpoint, 20px);
        }
      }
    }
  }

  &--event-schedule {
    #{ $self } {
      &__nodes {
        padding-top: 0;
        padding-bottom: 0;
      }
      &__event-day {
        @include event-day-label();
      }
      &__node {
        padding: $marko-web-node-list-padding * 1.25;
        &:nth-of-type(odd) {
          background-color: #f1f1f1;
        }
        &:first-child {
          padding-top: $marko-web-node-list-padding;
        }
        &:last-child {
          padding-bottom: $marko-web-node-list-padding;
          border-bottom: none;
        }
      }
    }
  }
}
