.node {
  $self: &;

  &__title {
    font-weight: 500;
  }

  &__text {
    &--content-action {
      margin-bottom: .25rem;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &--content-title {
      @include theme-apply-fonts(
        $font-size-sm: $theme-node-content-title-text-font-size-sm,
        $font-size: $theme-node-content-title-text-font-size,
        $font-weight: $theme-node-content-title-text-font-weight,
        $line-height-sm: $theme-node-content-title-text-line-height-sm,
        $line-height: $theme-node-content-title-text-line-height
      );
      a {
        @include theme-max-lines(
          $font-size: $theme-node-content-title-text-font-size,
          $font-size-sm: $theme-node-content-title-text-font-size-sm,
          $line-height: $theme-node-content-title-text-line-height,
          $line-height-sm: $theme-node-content-title-text-line-height-sm,
          $num: 4
        );
        color: $dark;
      }
    }

    &--content-title-primary {
      font-weight: 600;
      a {
        color: $primary;
      }
    }
  }

  &__footer {
    color: $gray-600;
  }

  &__footer-left {
    &--early-career-button {
      width: 100%;
      padding-top: map-get($spacers, block);
    }
  }

  &__image-inner-wrapper {
    box-shadow: none;
  }

  &__content-start-date + &__content-end-date {
    &::before {
      content: "\2013";
    }
  }

  &--hero {
    margin-bottom: map-get($spacers, block-lg);
    #{ $self } {
      &__header {
        padding: $marko-web-node-padding;
        margin-bottom: 0;
        background-color: $primary;

        // stylelint-disable-next-line
        a {
          font-size: 19px;
          font-weight: 700;
          color: #fff;
          text-transform: uppercase;

          @include media-breakpoint-down($theme-responsive-text-breakpoint) {
            font-size: 17px;
          }
        }
      }

      &__body {
        &--overlay {
          padding: 1.25rem;
          background-color: rgba(0, 0, 0, .65);
          @include media-breakpoint-down($theme-responsive-text-breakpoint) {
            padding: $marko-web-node-padding;
          }

          #{ $self } {
            // stylelint-disable-next-line
            &__text {
              // stylelint-disable-next-line
              &--teaser {
                @include theme-apply-fonts(
                  $font-size-sm: $theme-hero-teaser-font-size-sm,
                  $font-size: $theme-hero-teaser-font-size,
                  $font-weight: $theme-hero-teaser-font-weight,
                  $line-height-sm: $theme-hero-teaser-line-height-sm,
                  $line-height: $theme-hero-teaser-line-height
                );
                font-size: 18px;
                font-weight: $font-weight-bold;
                // stylelint-disable-next-line
                a {
                  @include theme-max-lines(
                    $font-size: $theme-hero-teaser-font-size,
                    $font-size-sm: $theme-hero-teaser-font-size-sm,
                    $line-height: $theme-hero-teaser-line-height,
                    $line-height-sm: $theme-hero-teaser-line-height-sm,
                    $num: 2
                  );
                  color: #fff;
                }
              }
            }
          }
        }
      }

      &__image-inner-wrapper {
        &::after {
          top: 45%;
          width: 75px;
          height: 75px;
          @include media-breakpoint-down($theme-responsive-text-breakpoint) {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  &--event-content-type {
    background-color: transparent;
    #{ $self } {
      &__title {
        font-weight: 500;
      }

      &__text {
        // stylelint-disable-next-line
        &--teaser {
          margin-top: .375rem;
          // stylelint-disable-next-line
          a {
            font-style: italic;
            color: $gray-600;
          }
        }
      }
    }
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--image-push {
    @include media-breakpoint-down(xs) {
      #{ $self } {
        &__image-wrapper + #{ $self }__body {
          margin-top: $marko-web-node-spacer * 2;
          margin-left: 0;
        }
        &__body {
          &--overlay {
            margin-top: 0;
          }
        }
        &__contents {
          flex-direction: column;
          &--body {
            flex-direction: column;
          }
        }
      }
    }
  }
}

.node--video-content-type.node--hero {
  background-color: transparent;
  // stylelint-disable-next-line
  .node__text--teaser {

    @include theme-apply-fonts(
      $font-size-sm: $theme-hero-teaser-font-size-sm,
      $font-size: $theme-hero-teaser-font-size,
      $font-weight: $theme-hero-teaser-font-weight,
      $line-height-sm: $theme-hero-teaser-line-height-sm,
      $line-height: $theme-hero-teaser-line-height
    );
    padding: $marko-web-node-padding;

    font-size: 18px;
    font-weight: $font-weight-bold;
    background-color: rgba(0, 0, 0, .65);

    // stylelint-disable-next-line
    a {
      @include theme-max-lines(
        $font-size: $theme-hero-teaser-font-size,
        $font-size-sm: $theme-hero-teaser-font-size-sm,
        $line-height: $theme-hero-teaser-line-height,
        $line-height-sm: $theme-hero-teaser-line-height-sm,
        $num: 2
      );
      color: #fff;
    }
  }
}
