.page-contents {
  $self: &;

  &__content-header {
    margin-bottom: 1.875rem;
  }
  &__content-embed-code {
    margin-bottom: $marko-web-page-image-margin;
  }

  &__content-body {
    p {
      &:empty {
        display: none;
      }
    }
    strong,
    b {
      font-weight: 600;
    }
  }

  &--event {
    #{ $self } {
      &__content-body {
        line-height: 1.4;

        // stylelint-disable-next-line
        h3 {
          margin-bottom: .25rem;
          font-size: 18px;
        }

        // stylelint-disable-next-line
        h4 {
          font-size: 16px;
          color: $primary;
        }

        // stylelint-disable-next-line
        i, em {
          color: $gray-600;
        }

        // stylelint-disable-next-line
        h6 b {
          color: $dark;
        }
      }
    }
  }
}
