.page-wrapper {
  box-shadow: $theme-box-shadow-sm;

  &__section {
    &--content-header {
      max-width: 900px;
    }
    &--page-header {
      margin-bottom: 1.875rem;
    }
  }

  &__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__deck {
    max-width: 900px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__above-title {
    margin-bottom: 1.875rem;
  }

  &--shadow {
    box-shadow: $theme-box-shadow-sm;
  }

  &--transparent {
    background-color: transparent;
  }
}
