.page-dates {
  font-weight: 600;

  &__content-type {
    margin-right: .25rem;
  }

  &__content-published {
    &::before {
      content: "Published: ";
    }
  }
  &__content-start-date {
    &::before {
      content: "Starts: ";
    }
  }
  &__content-end-date {
    &::before {
      content: "Ends: ";
    }
  }
}
