@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

@import "./mixins";
@import "../../node_modules/@parameter1/base-cms-marko-web-theme-default/scss/theme";

$pswp__root-z-index: $theme-site-header-z-index + 1 !default;
@import "../../node_modules/@parameter1/base-cms-marko-web-photoswipe/scss/main";
@import "../../node_modules/@parameter1/base-cms-marko-web-social-sharing/scss/buttons";

// vue-modal styles
@import "./components/vue-modal";

@import "./components/ad-container";
@import "./components/body-wrapper";
@import "./components/btn";
@import "./components/card-deck-flow";
@import "./components/hero-flow";
@import "./components/inquiry-form";
@import "./components/marko-web-icon";
@import "./components/node-list";
@import "./components/node";
@import "./components/page-attribution";
@import "./components/page-contents";
@import "./components/page-dates";
@import "./components/page-rail";
@import "./components/page-wrapper";
@import "./components/site-footer";
@import "./components/site-menu";
@import "./components/site-navbar";
@import "./components/social-sharing";

.ldp {
  display: flex;
  justify-content: space-between;
}

.anchor {
  // offset link anchors to account for fixed header
  position: relative;
  top: -174px;
  display: block;
  visibility: hidden;
}

.company-section-label {
  display: block;
  padding-bottom: .25rem;
  font-weight: 600;
  color: $gray-600;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid $light;
}

.hero-flow .node-list {
  &__node {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
