
<marko-web-gam-display-ad id="gpt-ad-rail1" modifiers=["paid"] />

<a
  class="twitter-timeline btn btn-primary btn-block"
  data-height="650"
  data-theme="light"
  href="https://twitter.com/AHAmeetings?ref_src=twsrc%5Etfw"
  target="_blank"
>
  Tweets by AHA
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<marko-web-gam-display-ad id="gpt-ad-rail2" modifiers=["paid"] />
