import hierarchyAliases from "@parameter1/base-cms-marko-web/utils/hierarchy-aliases";
import queryFragment from "@ascend-media/package-shared/graphql/fragments/content-list";
import { get } from "@parameter1/base-cms-object-path";
import magazineFragment from "@ascend-media/package-bulletin/graphql/fragments/magazine-latest-issue";

$ const {
  alias,
  name,
  pageNode,
} = input;
<marko-web-query|{ node: issue }|
  name="magazine-latest-issue"
  params={ publicationId: "6001dfb8a982a33b138b4589", queryFragment: magazineFragment }
>
  $ const id = issue.id;
  <marko-web-magazine-issue-page-layout id=id>
    <@head>
      <marko-web-gtm-magazine-issue-context|{ context }| id=id>
        <marko-web-gtm-push data=context />
      </marko-web-gtm-magazine-issue-context>
    </@head>
    <@page>
      <bulletin-magazine-issue-page-layout issue=issue />
    </@page>
  </marko-web-magazine-issue-page-layout>
</marko-web-query>
