@import "../../node_modules/@ascend-media/package-shared/scss/variables";

$theme-site-navbar-primary-bg-color: $black;

@import "../../node_modules/@ascend-media/package-shared/scss/theme";

.body-wrapper {
  display: block;
  flex-direction: column;
  height: auto;

  @media (min-width: map-get($theme-site-header-breakpoints, small-text-primary)) {
    background: url("https://img.hub.heart.org/files/base/ascend/hearthub/image/static/isc-background.png?w=1850&auto=format,compress&q=70") no-repeat 50% 150px;

    .page {
      background-color: transparent;
    }
  }
}
